@media print {
    
} 

.pl_002 p {
    font-family: inherit !important;
    font-size: inherit !important;;
    line-height: inherit !important;;
    color: inherit !important;
    margin: 0px !important;
    padding: 0px !important;
}

.pl_002 .text-input:focus {outline: none;}
.pl_002 .text-input > .text-input:focus, .text-input > .text-input:hover {outline: 1px solid red; }