:root {
  --transparent: transparent;
  --primary: #73b72b;
  --secondary: #e72889;
  --tertiary: #d8edec;
  --quaternary: #ebd8e8;
  --quinary: none;
  --sextario: #f2f7e5;
  --septenario: #bbdfb7;
  --lightDark: #9f9f9f;
  --dark: #55524f;
  --hardDark: #2e2e2e;
  --info: #00b0f6;
  --success: #198754;
  --danger: #e72e3c;
  --warning: #f1871d;
  --light: #e5e9ec;
  --muted: black;
  --white: white;
  --goku: #8f6a96;
  --bulma: #34c1ee;
  --krillin: #ddddd4;
  --piccolo: #4f707f;
  --gohan: #25beb2;
  --vegeta: #e85b9b;
  --trunks: #afdada;
  --goten: #cfab89;
  --yamcha: #7296ac;
  --tshinhan: #bfe4f4;
  --android18: #f9eca9;
  --milk: #c4e4e2;
  --pidgey: #cddfad;
  --freezer: #f1c3dd;
  --saitama: #ffc466;
  --ash: #e7f4d0;
  --pikachu: #fafbf6;
  --leono: #ffd700;
  --tigro: #fff7cc;
  --pantro: #8bb63a;
  --chitara: #e8f0d7;
  --raichu: #1ab21e;
  --jaga: #009ddf;
  --luke: #12b7ee;
  --anakin: #f5486c;
  --bang: #813da0;
  --sonic: #fc8833;
  --genos: #7f3ea2;
  --garou: #f68c39;
  --boros: #29c4b3;
}
/* COLORES */
.color-primary {
  color: var(--primary);
}
.color-secondary {
  color: var(--secondary);
}
.color-tertiary {
  color: var(--tertiary);
}
.color-quaternary {
  color: var(--quaternary);
}
.color-quinary {
  background-color: var(--quinary);
}
.color-sextario {
  background-color: var(--sextario);
}
.color-septenario {
  background-color: var(--septenario);
}
.color-white {
  color: var(--white);
}
.color-success {
  color: var(--success);
}
.color-danger {
  color: var(--danger);
}
.color-warning {
  color: var(--warning);
}
.color-light {
  color: var(--light);
}
.color-muted {
  color: var(--muted);
  opacity: 0.4;
}
.color-lightDark {
  color: var(--lightDark);
}
.color-dark {
  color: var(--dark);
}
.color-hardDark {
  color: var(--hardDark);
}
.color-info {
  color: var(--info);
}

/* BACKGROUND */

.bgc-primary {
  background-color: var(--primary);
}
.bgc-secondary {
  background-color: var(--secondary);
}
.bgc-tertiary {
  background-color: var(--tertiary);
}
.bgc-quaternary {
  background-color: var(--quaternary);
}
.bgc-quinary {
  background-color: var(--quinary);
}
.bgc-sextario {
  background-color: var(--sextario);
}
.bgc-septenario {
  background-color: var(--septenario);
}
.bgc-white {
  background-color: var(--white);
}
.bgc-success {
  background-color: var(--success);
}
.bgc-danger {
  background-color: var(--danger);
}
.bgc-warning {
  background-color: var(--warning);
}
.bgc-light {
  background-color: var(--light);
}
.bgc-muted {
  background-color: var(--muted);
}
.bgc-lightDark {
  background-color: var(--lightDark);
}
.bgc-dark {
  background-color: var(--dark);
}
.bgc-hardDark {
  background-color: var(--hardDark);
}
.bgc-info {
  background-color: var(--info);
}

/* BACKGROUND PARA DESARROLLO */
.bgc-aqua {
  background-color: aqua;
}
.bgc-red {
  background-color: red;
}
.bgc-white {
  background-color: #ffffff;
}
.bgc-yellow {
  background-color: yellow;
}
.bgc-green {
  background-color: green;
}
.bgc-pink {
  background-color: pink;
}
/* END BACKGROUND PARA DESARROLLO */

/* BORDES */
.border-color-primary {
  border-color: var(--primary) !important;
}
.border-color-secondary {
  border-color: var(--scondary) !important;
}
.border-color-tertiary {
  border-color: var(--tertiary) !important;
}
.border-color-quaternary {
  border-color: var(--quaternary) !important;
}
.border-color-quinary {
  border-color: var(--quinary) !important;
}
.border-color-sextario {
  border-color: var(--sextario) !important;
}
.border-color-septenario {
  border-color: var(--septenario) !important;
}
.border-color-lightDark {
  border-color: var(--lightDark) !important;
}
.border-color-dark {
  border-color: var(--dark) !important;
}
.border-color-hardDark {
  border-color: var(--hardDark) !important;
}
.border-color-info {
  border-color: var(--info) !important;
}
.border-color-success {
  border-color: var(--success) !important;
}
.border-color-danger {
  border-color: var(--danger) !important;
}
.border-color-warning {
  border-color: var(--warning) !important;
}
.border-color-light {
  border-color: var(--light) !important;
}
.border-color-muted {
  border-color: var(--muted) !important;
}
.border-color-white {
  border-color: var(--white) !important;
}

/* AUXILIARES */
/* COLORS */
.color-goku {
  color: var(--goku);
}
.color-bulma {
  color: var(--bulma);
}
.color-krillin {
  color: var(--krillin);
}
.color-piccolo {
  color: var(--piccolo);
}
.color-gohan {
  color: var(--gohan);
}
.color-vegeta {
  color: var(--vegeta);
}
.color-trunks {
  color: var(--trunks);
}
.color-goten {
  color: var(--goten);
}
.color-yamcha {
  color: var(--yamcha);
}
.color-tshinhan {
  color: var(--tshinhan);
}
.color-android18 {
  color: var(--android18);
}
.color-milk {
  color: var(--milk);
}
.color-freezer {
  color: var(--freezer);
}
.color-saitama {
  color: var(--saitama);
}
.color-ash {
  color: var(--ash);
}
.color-pikachu {
  color: var(--pikachu);
}
.color-leono {
  color: var(--leono);
}
.color-tigro {
  color: var(--tigro);
}
.color-pantro {
  color: var(--pantro);
}
.color-chitara {
  color: var(--chitara);
}
.color-raichu {
  color: var(--raichu);
}
.color-jaga {
  color: var(--jaga);
}
.color-luke {
  color: var(--luke);
}
.color-anakin {
  color: var(--anakin);
}
.color-bang {
  color: var(--bang);
}
.color-sonic {
  color: var(--sonic);
}
.color-genos {
  color: var(--genos);
}
.color-garou {
  color: var(--garou);
}
.color-boros {
  color: var(--boros);
}
/* BORDERS */
.border-color-goku {
  border-color: var(--goku) !important;
}
.border-color-bulma {
  border-color: var(--bulma) !important;
}
.border-color-krillin {
  border-color: var(--krillin) !important;
}
.border-color-piccolo {
  border-color: var(--piccolo) !important;
}
.border-color-gohan {
  border-color: var(--gohan) !important;
}
.border-color-vegeta {
  border-color: var(--vegeta) !important;
}
.border-color-trunks {
  border-color: var(--trunks) !important;
}
.border-color-goten {
  border-color: var(--goten) !important;
}
.border-color-yamcha {
  border-color: var(--yamcha) !important;
}
.border-color-tshinhan {
  border-color: var(--tshinhan) !important;
}
.border-color-android18 {
  border-color: var(--android18) !important;
}
.border-color-milk {
  border-color: var(--milk) !important;
}

.border-color-freezer {
  border-color: var(--freezer) !important;
}
.border-color-saitama {
  border-color: var(--saitama) !important;
}
.border-color-ash {
  border-color: var(--ash) !important;
}
.border-color-pikachu {
  border-color: var(--pikachu) !important;
}
.border-color-leono {
  border-color: var(--leono) !important;
}
.border-color-tigro {
  border-color: var(--tigro) !important;
}
.border-color-pantro {
  border-color: var(--pantro) !important;
}
.border-color-chitara {
  border-color: var(--chitara) !important;
}
.border-color-raichu {
  border-color: var(--raichu) !important;
}
.border-color-jaga {
  border-color: var(--jaga) !important;
}
.border-color-luke {
  border-color: var(--luke) !important;
}
.border-color-anakin {
  border-color: var(--anakin) !important;
}
.border-color-bang {
  border-color: var(--bang) !important;
}
.border-color-sonic {
  border-color: var(--sonic) !important;
}
.border-color-genos {
  border-color: var(--genos) !important;
}
.border-color-garou {
  border-color: var(--garou) !important;
}
.border-color-boros {
  border-color: var(--boros) !important;
}

/* BACKGROUND COLORS */
.bgc-goku {
  background-color: var(--goku);
}
.bgc-bulma {
  background-color: var(--bulma);
}
.bgc-krillin {
  background-color: var(--krillin);
}
.bgc-piccolo {
  background-color: var(--piccolo);
}
.bgc-gohan {
  background-color: var(--gohan);
}
.bgc-vegeta {
  background-color: var(--vegeta);
}
.bgc-trunks {
  background-color: var(--trunks);
}
.bgc-goten {
  background-color: var(--goten);
}
.bgc-yamcha {
  background-color: var(--yamcha);
}
.bgc-tshinhan {
  background-color: var(--tshinhan);
}
.bgc-android18 {
  background-color: var(--android18);
}
.bgc-milk {
  background-color: var(--milk);
}

.bgc-freezer {
  background-color: var(--freezer);
}
.bgc-saitama {
  background-color: var(--saitama);
}
.bgc-ash {
  background-color: var(--ash);
}
.bgc-pikachu {
  background-color: var(--pikachu);
}
.bgc-leono {
  background-color: var(--leono);
}
.bgc-tigro {
  background-color: var(--tigro);
}
.bgc-pantro {
  background-color: var(--pantro);
}
.bgc-chitara {
  background-color: var(--chitara);
}
.bgc-raichu {
  background-color: var(--raichu);
}
.bgc-jaga {
  background-color: var(--jaga);
}
.bgc-luke {
  background-color: var(--luke);
}
.bgc-anakin {
  background-color: var(--anakin);
}
.bgc-bang {
  background-color: var(--bang);
}

.bgc-sonic {
  background-color: var(--sonic);
}
.bgc-genos {
  background-color: var(--genos);
}
.bgc-garou {
  background-color: var(--garou);
}
.bgc-boros {
  background-color: var(--boros);
}
